div(class="main-container" ng-controller="wFMainCtrl")
	div.create-project-container(ng-if="isLoggedIn")
		div
			.col-md-12(class="monitor-create-container")
				span {{monitorMessage}}
				br
				div(ng-repeat="monitor in monitors" class="view-monitors")
					slide-panel

		div.map-container
			div(ng-controller="wFMapCtrl" id="map")
				leaflet
		
		
		div(class="selection-container")
			div
				button(class="add-project-button" ng-click="addLayer(identity.currentUser._id);" ) Add Layer
			div
				.selection-layout
					div.selectionInput(ng-controller="wFWildlifeSelectCtrl")
						form.selectAnimalInput(ng-submit="selectWildlife()")
							input(id='wildlife_search' 
								type='search' 
								ng-model="wildlifeSelect" 
								typeahead="creature as creature.name for creature in wildlife | filter:$viewValue | limitTo:8" 
								class="form-control" 
								placeholder="Search for wildlife...")

					div.selected-wildlife-container
						div(ng-repeat="creature in selectedWildlife track by $index")
							.well
								table.selectedWildlife
									tr
										td.wildlifeCell
											input.wildlifeCount(class="wildlifeCounter" ng-model="wildlifeCounter" ng-blur="setWildlifeNumbers(creature._id, creature.name, wildlifeCounter)" value="0" type="number" min="0")
										td.wildlifeCell
											div(class="selectedThumb" ng-click="wildlifePopup('show', creature);")<img ng-src="{{creature.image_thumb}}"> 
										td.wildlifeCell
											div(class="selectedWildlifeName") {{creature.name}}
										td.wildlifeBtnCell
											div(class="remove-selected-wildlilfe-btn" ng-click='removeSelectedWildlife()') X
						
			div
				button(class="save-project-button" ng-click="saveCorridor(identity.currentUser._id); projectPopup('show')" ) Save
		wildlife-popup(ng-show="wildlifePopup()")
		comment-popup(ng-show="commentPopup()" draggability)
		monitor		
		project-popup(ng-controller="wFFileUploadCtrl" class="project-popup" ng-show="projectPopup()")
		