div(class="edit-container" ng-controller="wFMainCtrl")
	.container(ng-if="isLoggedIn")
		.col-md-5(class="map-edit-container")
			div(ng-controller="wFMapCtrl" id="map" class="map")
				leaflet
		.col-md-2(class="col-2-edit-selection-container")
			h4 Project Details {{position}}
			span Project Name:
				div(class="edit-text-box" editable-text="project.project_name") {{project.project_name}}
				br
			span Project Description:
				div(class="edit-text-box" editable-text="project.project_desc") {{project.project_desc}}
				br
			span Project Timeframe: 
				br
				span start: 
					br
					a(class="edit-date-box" href="#" editable-bsdate="project.project_start_date" e-datepicker-popup="dd-MMMM-yy"){{project.project_start_date | date}}
					br
				span end: 
					br
					a(class="edit-date-box" href="#" editable-bsdate="project.project_end_date" e-datepicker-popup="dd-MMMM-yy") {{project.project_end_date | date}}
				br
				br
			span Group Name: 
				div(class="edit-text-box" editable-text="project.project_group") {{project.project_group}}
				br
			span Project Owner: 
				select(class="form-control" ng-model="setOwner", ng-options="owner.value as owner.name for owner in selectOwner")
				br
			span Project Type: 
				select(class="form-control" ng-model="project.project_type", ng-options="org.value as org.name for org in selectOrg") 
				br

		.col-md-3(class="col-3-edit-selection-container")
			h4 Wildlife
				br
				.edit-selection-layout
					div.edit-selection-input
						form.selectAnimalInput(ng-submit="editSelectedWildlife()")
							input(id='wildlife_search' 
								type='search' 
								ng-model="wildlifeSelect" 
								typeahead="creature as creature.name for creature in wildlife | filter:$viewValue | limitTo:8" 
								class="form-control edit-selection-input" 
								placeholder="Search for wildlife...")
				
					div.edit-wildlife-container
						div(ng-repeat="creature in projectWildlife track by $index") 
							h5
								.well
									table.selectedWildlife
										tr
											td.wildlifeCell
												input.wildlifeCount(class="wildlifeCounter" ng-model="creature.wildlifeNumbers" ng-blur="setWildlifeNumbers(creature._id, creature.name, wildlifeCounter, creature.wildlifeClassifiction, creature.wildlifeThumb)" value="0" type="number" min="0")
											td.wildlifeCell
												div(class="selectedThumb")<img ng-src="{{creature.wildlifeThumb}}"> 
											td.wildlifeCell
												div(ng-model="wildlifeNameProject" class="selectedWildlifeName") {{creature.wildlifeNames}}
											td.wildlifeBtnCell
												div(class="remove-selected-wildlilfe-btn" ng-click='removeSelectedWildlife("project")') X

						div(ng-repeat="creature in selectedWildlife track by $index") 
							h5
								.well
									table.selectedWildlife
										tr
											td.wildlifeCell
												input.wildlifeCount(class="wildlifeCounter" ng-model="wildlifeCounter" ng-blur="setSelectionNumber(creature._id, creature.name, wildlifeCounter, creature.classification, creature.image_thumb)" value="0" type="number" min="0")
											td.wildlifeCell
												div(class="selectedThumb")<img ng-src="{{creature.image_thumb}}"> 
											td.wildlifeCell
												div(ng-model="wildlifeNameSelect" class="selectedWildlifeName") {{creature.name}}
											td.wildlifeBtnCell
												div(class="removeSelectedWildlilfeBtn" ng-click='removeSelectedWildlife("selection")') X

		.col-md-2.col-2-edit-selection-container
			h4 Monitors
			span {{monitorMessage}}
			br
			div(ng-repeat="monitor in monitors track by $index")
				.well
					div(class="remove-selected-monitor-btn" ng-click="removeSelectedMonitor()") X
					span Monitor Name:
						span(ng-model="monitorName") {{monitor.name}}
					span Monitor Type:
						span(ng-model="monitorType") {{monitor.type}}
					span and is monitoring: 
						span(ng-model="monitorSpecificWildlife") {{monitor.specificWildlife}}
					br
					span is active? 
						span(ng-model="monitorIsActive") {{monitor.active}}
					
		monitor

		button(class="save-project-button"  ng-click="editProject(project.project_name, project.project_desc, project.project_start_date, project.project_end_date, project.project_group, setOwner, project.project_type, wildlifeNameSelect, wildlifeCounter, wildlifeNameProject, monitorName, monitorType, monitorSpecificWildlife, monitorIsActive)") Edit
		