div(ng-controller="wFMainCtrl")
	.container(ng-if="isLoggedIn")
		.row
			.col-md-9
				div(ng-controller="wFMapCtrl" id="map" class="map")
					leaflet
			.col-md-3
				p
					.selection-layout
						div.selectionInput(ng-controller="wFWildlifeSelectCtrl")
							form.selectAnimalInput(ng-submit="submitWildlife()")
								input(id='wildlife_search' 
									type='search' 
									ng-model="wildlifeSelect" 
									typeahead="creature as creature.name for creature in wildlife | filter:$viewValue | limitTo:8" 
									class="form-control" 
									placeholder="Search for wildlife...")

						div.selectedWildlifeContainer
							div(ng-repeat="creature in selectedWildlife track by $index")
								.well
									table.selectedWildlife
										tr
											td.wildlifeCell
												input.wildlifeCount(class="wildlifeCounter" type="number" value="1" min="0")
											td.wildlifeCell
												div(class="selectedThumb" ng-click="wildlifePopup('show', creature)")<img ng-src="{{creature.image_thumb}}"> 
											td.wildlifeCell
												div(class="selectedWildlifeName") {{creature.name}}
											td.wildlifeBtnCell
												div(class="removeSelectedWildlilfeBtn" ng-click='removeSelectedWildlife()'){{}}X

						div.wildlifePopup(ng-show="wildlifePopup()")
							div.closePopUp(ng-click="wildlifePopup('hide')") X 
							div{{wildlifeDetails.name}}<br>
							div<img ng-src="{{wildlifeDetails.image_full}}">
		h3(class="saveProjectButton" ng-click="saveProject(identity.currentUser._id)") 
		.row
			.col-md-12
				h1 Friends

	.container(ng-if="!isLoggedIn")
		.row
			.col-md-12
				div(ng-controller="wFMapCtrl" id="map" class="map" style="margin-left: 15px; width: 98%; margin-right: 15px;")
					leaflet

		